<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common-header"/>
<body>
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5"
		data-sidebartype="full" data-sidebar-position="absolute"
		data-header-position="absolute" data-boxed-layout="full">
		<div th:replace="header :: common-body" />
		<div class="page-wrapper">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12">
					<div class="white-box">
					<h3 style="text-align: center">DS tài khoản</h3>
					<a th:href="@{addNewAccount}"><button type="button" class="btn btn-success">Thêm tài khoản</button> </a>
						<div class="d-md-flex mb-3">
							<table class="table">
								<tr>
									<th>Id</th>
									<th>Tài khoản</th>
									<th>Mật khẩu</th>
									<th>Vị trí</th>
									<th>Trạng thái</th>
									<th>Ngày tạo</th>
									<th>Ngày sửa</th>
									<th>Action</th>
								</tr>
								<tr th:each="employee : ${employeeList}">
									<td th:text="${employee.id}"></td>
									<td th:text="${employee.username}"></td>
									<td>*****</td>
									<td th:text="${employee.position}"></td>
									<td style="color: red" th:text="${employee.enabled}"></td>
									<td th:text="${employee.createDate}"></td>
									<td th:text="${employee.modifyDate}"></td>
									<td>
										<a th:href="@{/updateAccount(id=${employee.id})}">
											<img alt="" src="/image/icon/modify.png" width="20px"> 
										</a> 
										<a th:href="@{/deleteAccount(id=${employee.id})}">
											<img alt="" src="/image/icon/delete.png" width="20px"> 
										</a>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="header :: common-footer" />
	<div th:replace="header :: common-scripts" />
</body>
</html>