<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common-header"/>
<body>
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5"
		data-sidebartype="full" data-sidebar-position="absolute"
		data-header-position="absolute" data-boxed-layout="full">
		<div th:replace="header :: common-body" />
		<div class="page-wrapper">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12">
					<div class="white-box">
					<h3 style="text-align: center">Phân phối</h3>
					<form action="/addDistribution" method= "get">
					<a href="/historyDistribution"><button type="button" class="btn btn-success">Lịch sử</button> </a>
						<div class="d-md-flex mb-2">

							<div class="row" style="width: 50%">
								<div class="col-md-12 col-lg-12 col-sm-12">
									<div class="white-box">
										<div class="d-md-flex mb-3">
											<h3 class="box-title mb-0">Danh sách nhà phân phối</h3>
											<div class="col-md-3 col-sm-4 col-xs-6 ms-auto" style="width: 50%;">
												<input type="text" placeholder="Tìm kiếm nhà phân phối" class="form-control mt-0" id="distributorInput" onkeyup="filterSearchDistributor()">
											</div>
										</div>
										<div class="table-wrapper-scroll-y my-custom-scrollbar">
											<table class="table table-bordered table-striped mb-0" id="distributorTable">
												<thead>
												<tr>
													<th class="border-top-0">Chọn</th>
													<th class="border-top-0">Tên nhà phân phối</th>
													<th class="border-top-0">Địa chỉ</th>
													<th class="border-top-0">Số điện thoại</th>
												</tr>
												</thead>
												<tbody>
												<tr th:each="distributor : ${distributorList}">
													<td>
														<div class="custom-control custom-checkbox">
															<input type="checkbox" class="custom-control-input" name="distributorId" th:value="${distributor.id}">
														</div>
													</td>
													<td class="txt-oflo" th:text="${distributor.name}"></td>
													<td th:text="${distributor.address}"></td>
													<td class="txt-oflo" th:text="${distributor.phone}"></td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>


							<div class="row" style="margin-left: 20px !important; width: 50%">
								<div class="col-md-12 col-lg-12 col-sm-12">
									<div class="white-box">
										<div class="d-md-flex mb-3">
											<h3 class="box-title mb-0">Danh sách sản phẩm</h3>
											<div class="col-md-3 col-sm-4 col-xs-6 ms-auto" style="width: 50%;">
												<input type="text" placeholder="Tìm kiếm sản phẩm" class="form-control mt-0" id="productInput" onkeyup="filterSearchProduct()">
											</div>
										</div>
										<div class="table-wrapper-scroll-y my-custom-scrollbar">
											<table class="table table-bordered table-striped mb-0" id="productTable">
												<thead>
												<tr>
													<th class="border-top-0">Chọn</th>
													<th class="border-top-0">Tên sản phẩm</th>
													<th class="border-top-0">Số lượng</th>
													<th class="border-top-0">Giá</th>
												</tr>
												</thead>
												<tbody>
												<tr th:each="product : ${productList}">
													<td>
														<div class="custom-control custom-checkbox">
															<input type="checkbox" class="custom-control-input" name="productId" th:value="${product.id}">
														</div>
													</td>
													<td class="txt-oflo" th:text="${product.name}"></td>
													<td th:text="${product.quanlity}"></td>
													<td class="txt-oflo" th:text="${product.price}"></td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div style="display: flex;">
							<div style="display: flex; flex-direction: column; padding-left: 30px">
								<div class="" style="display: flex">
									<p>Nhập số lượng</p>
									<input type="text" name="quanlity" placeholder="Số lượng phân phối" class="form-control mt-0">
								</div>
								<div class="">
									<button type="submit" class="btn btn-success">Phân phối</button>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 col-xs-6 ms-auto" style="padding-right: 30px">
								<a href="/createDistributionBill"><button type="button" class="btn btn-success">Tạo hóa đơn</button> </a>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="header :: common-footer" />
	<div th:replace="header :: common-scripts" />
<script>
		function filterSearchSupplier() {
  			var input, filter, table, tr, td, i, txtValue;
  			input = document.getElementById("supplierInput");
 			filter = input.value.toUpperCase();
  			table = document.getElementById("supplierTable");
  			tr = table.getElementsByTagName("tr");
  			for (i = 0; i < tr.length; i++) {
    			td = tr[i].getElementsByTagName("td")[1];
    			if (td) {
      				txtValue = td.textContent || td.innerText;
      				if (txtValue.toUpperCase().indexOf(filter) > -1) {
        				tr[i].style.display = "";
      				} else {
        				tr[i].style.display = "none";
      				}
    			}       
  			}
		}
</script>
<script>
		function filterSearchMaterial() {
  			var input, filter, table, tr, td, i, txtValue;
  			input = document.getElementById("materialInput");
 			filter = input.value.toUpperCase();
  			table = document.getElementById("materialTable");
  			tr = table.getElementsByTagName("tr");
  			for (i = 0; i < tr.length; i++) {
    			td = tr[i].getElementsByTagName("td")[1];
    			if (td) {
      				txtValue = td.textContent || td.innerText;
      				if (txtValue.toUpperCase().indexOf(filter) > -1) {
        				tr[i].style.display = "";
      				} else {
        				tr[i].style.display = "none";
      				}
    			}       
  			}
		}
</script>
</body>
</html>