<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common-header"/>
<body>
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5"
		data-sidebartype="full" data-sidebar-position="absolute"
		data-header-position="absolute" data-boxed-layout="full">
		<div th:replace="header :: common-body" />
		<div class="page-wrapper">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12">
					<div class="white-box">
					<div style="text-align: center;">
						<h3>Lịch</h3> <p th:text="${startDate}"/>
						<p th:text="${endDate}"/>
					</div>
					<a href="/newPlan"><button type="button" class="btn btn-success">Lên lịch cho tuần kế tiếp</button> </a>
					<a th:href="@{/updatePlan(id=${id})}"><button type="button" class="btn btn-success">Thay đổi lịch</button> </a>
					<br>
					<a href="/previousPlan" style="margin-left: 2px">
						<img alt="" src="/image/icon/previous.png" width="40px">
					</a>
					<a href="/nextPlan" style="margin-right: 2px">
						<img alt="" src="/image/icon/next.png" width="40px">
					</a>
					<h3 style="text-align: center;color: red" th:text="${message}"></h3>
						<div class="d-md-flex mb-3" th:if="${status}">
							<table class="table">
									<tr>
										<th></th>
										<th>Thứ Hai</th>
										<th>Thứ Ba</th>
										<th>Thứ Tư</th>
										<th>Thứ Năm</th>
										<th>Thứ Sáu</th>
										<th>Thứ Bảy</th>
										<th>Chủ Nhật</th>
									</tr>
									<tr th:each="dayPlan: ${weekPlan}">
										<td th:text="${dayPlan.productionLine.name}"></td>
										<td th:text="${dayPlan.monday}"/>
										<td th:text="${dayPlan.tuesday}"/>
										<td th:text="${dayPlan.wednesday}"/>
										<td th:text="${dayPlan.thursday}"/>
										<td th:text="${dayPlan.friday}"/>
										<td th:text="${dayPlan.saturday}"/>
										<td th:text="${dayPlan.sunday}"/>					
									</tr>
								</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="header :: common-footer" />
	<div th:replace="header :: common-scripts" />
</body>
</html>