<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common-header"/>
<body>
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5"
		data-sidebartype="full" data-sidebar-position="absolute"
		data-header-position="absolute" data-boxed-layout="full">
		<div th:replace="header :: common-body" />
		<div class="page-wrapper">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12">
					<div class="white-box">
					<h3 style="margin-left: 50px">Cập nhật thông tin dây chuyền</h3>
						<div class="d-md-flex mb-3">
							<form th:action="@{/updateProductionLine}" method="post" th:object="${updatedProductionLine}" style="margin-left: 50px;">
								<input type="hidden" id="id" name="id" th:field="*{id}" />
								<div class="form-group">
									<label for="name">Tên dây chuyền</label> <input
										class="form-control" id="Name" name="name"
										th:field="*{name}" />
								</div>
								<div class="form-group">
									<label for="description">Mô tả</label><textarea
										type="text" class="form-control" id="description"
										name="description" th:field="*{description}" />
								</div>
								<div class="form-group">
									<label for="status">Trạng thái</label>
      								<select class="form-control" id="status" name="status" th:field="*{status}">
      									<option th:value="'Contruct'" th:text="Contruct"></option>
        								<option th:value="'Enable'" th:text="Enable"></option>
        								<option th:value="'Repair'" th:text="Repair"></option>
        								<option th:value="'Maintain'" th:text="Maintain"></option>
        								<option th:value="'Disable'" th:text="Disable"></option>
      								</select>
								</div>
								<button id="updateUserInfoButton" type="submit"
									class="btn btn-primary" style="margin: auto">Lưu</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="header :: common-footer" />
	<div th:replace="header :: common-scripts" />
</body>
</html>